<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="head-about">    
        <!-- NAVBAR -->
        <header class="header">
            <img class="logo" src="../images/logo1.png" alt="">
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav>
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
        </header>
        <!-- CONTENT -->
        <h1>About This Project</h1>
        <div class="about-content">
            <div class="row">
                <div class="col">
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. amet consectetur adipisicing elit.</li>
                </div>
                <div class="col">
                    <img src="../images/PERSONAL.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT US -->
    <div class="head">
    <div class="about">
        <h1>About Us</h1>
        <div class="row">
            <div class="col ic">
                <img src="../images/im.png" alt="jeev" class="jevv ab">
                <h3>Jeevottam Bhat</h3>
                <a href="https://github.com/alo06"><i class="fa-brands fa-github fa-2xl icon"></i></a></i>
                <a href=""><i class="fa-brands fa-linkedin fa-2xl  icon"></i></a>
                <a href="https://twitter.com/jywo06?t=aThYZT0CUWitCAoeGuVDWA&s=33"><i class="fa-brands fa-twitter fa-2xl  icon"></i></a> 
                <a href="https://www.instagram.com/jeevu_06/?hl=en"><i class="fa-brands fa-instagram fa-2xl  icon"></i></a> 
            </div>
            <div class="col ic">
                <img src="../images/im.png" alt="daiv" class="daiv ab">
                <h3>Daivik Shetty</h3>
                <a href="https://github.com/daivikshetty/"><i class="fa-brands fa-github fa-2xl icon"></i></a>
                <a href="https://www.linkedin.com/in/daivik-shetty-a4537521b/"> <i class="fa-brands fa-linkedin fa-2xl icon"></i></a>
                <a href="https://twitter.com/DaivikShetty100"><i class="fa-brands fa-twitter fa-2xl  icon"></i></a>
                <a href="https://youtu.be/dQw4w9WgXcQ"><i class="fa-brands fa-instagram fa-2xl  icon"></i></a>
            </div>
        </div>
     </div>
     </div>
</body>
</html>