<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/styles.css" type="text/css" >
      <title>Edit Profile</title>
      <style>
                              
                              @font-face {
                              font-family: myFont;
                              src: url(../css/BasementGrotesque-Black_v1.202.otf);
                              }
                              *{
                              margin:0;
                              padding:0;
                              box-sizing: border-box;
                              font-family: myFont;
                              }
                              .header{
                              display: flex;
                              align-items:center;
                              justify-content: space-between;
                              padding:1.5rem 7%;
                              top: 0;
                              left: 0;
                              right: 0;
                              z-index: 1000;
                              }
                              .header .logo{
                              height: 4rem;
                              width: 4rem;
                              }
                              .header .navbar a{
                              font-size: 1.3rem;
                              color: whitesmoke;
                              padding:1rem;
                              }
                              .header .navbar a:hover{
                              color: grey;
                              border-bottom:0.1rem solid grey;
                              padding-bottom: 0.5rem;
                              }
                              .header .icons {
                              color: whitesmoke;
                              cursor: pointer;
                              font-size: 2rem;
                              margin-left: 2rem;
                              }
                              .header .icons div:hover{
                              color: grey;
                              }
                              .edit-input{
                              height: 100vh;
                              background:url(../images/2017-05-31-22-49-50.jpg) no-repeat;
                              background-color: rgb(49, 48, 48);
                              background-blend-mode: multiply;
                              background-size: cover;
                              background-position: center;
                              text-align:center;
                              color: whitesmoke;
                              }
                              .edit-input.post{
                                    padding: 20px;
                              }
                              .edit-input.link{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
                              }
                              .passed{
                                    padding: 20px;
                              }
                              .post input{
                                    margin: 10px;
                              }
      </style>
</head>
<body>
      <div class="edit-input">
            <header class="header">
                  <img class="logo" src="../images/logo1.png" alt="">
              <nav class="navbar">
                  <a href="/">Home</a>
                  <a href="/login">Login</a>
                  <a href="/register">Register</a>
                  <a href="/about">About Us</a>
              </nav>
              <div class="icons">
                  <div class="fas fa-bars" id="menu-btn"></div>
              </div>
              </header>
            <h2>Write Your Blog!!!</h2>
            <div class="passed">
                  <h3>Username : <%=userName%></h3>
            </div>
            <div class="post" style="padding: 10px;">
            <form method="post">
                  <div> 
                        <input type="text" name="blogTitle" placeholder="Title" style="width: 400px;height: 20px;" required>
                  </div>
                  <div>
                        <input type="text" name="blogContent" placeholder="Content" style="width: 500px;height: 200px;" class="textfield" required>
                  </div>
                  <div>
                        <input type="submit" value="Submit">
                  </div>
            </form>
            </div>
            <div class="link">
                  <a href="/<%=userName%>" ><button> Profile</button></a>
                  <a href="/login"><button>Log Out</button></a>
                  <a href="/"><button>Home</button></a>
            </div>
      </div>
     
</body>
</html>