
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>HOME</title>
</head>
<body>
    <div class="blog-all">
        <header class="header">
                <img class="logo" src="../images/logo.png" alt="">
            <nav class="navbar">
                <a href="#home">Home</a>
                <a href="login.ejs">Login</a>
                <a href="register.ejs">Register</a>
                <a href="#feedback">Feedback</a>
            </nav>
            <div class="icons">
                <div class="fas fa-bars" id="menu-btn"></div>
            </div>
        </header>
        <div class="content">
        <h1>Home Page</h1>
        <h2>Our Blogs</h2>
                      <div class="blog">
                            <h3>blog.title</h3>
                            <i>object.username</i>
                            <p>blog.content</p>
                      </div>
        </div>
    </div>
</body>
</html>