<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Blogspot</title>
</head>
<body>
      <h1>Home Page</h1>
      <h2>Our Blogs</h2>

      <div class="blog-all">
            <% objects.forEach(object => { %>
                  <%object.blogs.forEach(blog => { %>
                        <div class="blog">
                              <h3><%= blog.title%></h3>
                              <i>~<%= object.username%></i>
                              <p><%= blog.content%></p>
                        </div>
                        
                  <%})  %>
            <% }) %>
      </div>
      
</body>
</html>