
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>HOME</title>
</head>
<body>
    <!-- NAVBAR -->
    <!-- HOME -->
    <div class="home">
        <header class="header">
            <img class="logo" src="../images/logo1.png" alt="">
        <nav class="navbar" id="navs">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/about">About Us</a>
            <!-- <a href="#feedback">Feedback</a> -->
        </nav>
        <div class="icons"  onclick="click()">
            <div class="fas fa-bars" id="menu-btn" onclick="click()"></div>
            <script>
                let navbar = document.getElementById('navs');
                    console.log(navbar);
                   function click(){
                    navbar.classList.toggle('active');
                    console.log("clikcs");
                   }
        
            </script>
        </div>
        </header>
        <h1>JD BLOGS</h1>
        <div class="row">
            <div class="col">
                <h3>The Simple Website To Maintain Your Blogs</h3>
                <h3>Maintain an Awesome BlogSpot</h3>
                <h3>Where Skill Meets Technology</h3>        
            </div>
            <div class="col">
                <img src="../images/Untitled design (2).png" alt="" srcset="" onclick="click()" id="pen">
            </div>
            <div class="col">
                <h3>Minimal Steps To Get Your Work Done</h3>
                <h3>Also Maintain a Secret Personal Diary</h3>
                <h3>Where Your Heart Meets A Place</h3>
            </div>
        </div>
    </div>
    <div class="second-container">
        <h1>Why Blogs???</h1>
        <div class="row">
            <div class="col">
                <h3>Blogs give you various topics to share,talk and discuss about on your social media channel .</h3>
                <h4>-To All The Extroverts</h4>
            </div>
            <div class="col">
                <h3>Blogs gives you a platform to voice your opninions,critics without any interaction with people.</h3>
                <h4>-To All The Introverts</h4>
            </div>
            <div class="col">
                <h3>Blogs creates content and also a medium through which a lot of day-to-day problems are solved.</h3>
                <h4>-To Everyone</h4>
            </div>
        </div>
        <div class="row">
             <div class="col boo">
                <h3>So What Are You Waiting For, Create an Account and Get BLOGGING!!!</h3>
                <img src="../images/aaron-burden-pCfJKUB5bes-unsplash-removebg-preview.png" alt="" id="col-img">
             </div>
        </div>
    </div>
    <div class="blog-all">
        <div class="content">
        <h1>All Blogs</h1>
                        <% objects.forEach(object => { %>
                            <%object.blogs.forEach(blog => { %>
                                  <div class="blog">
                                    <div class="titname">
                                        <h3 id="title"><%= blog.title%><i id="name">~<%= object.username%></i></h3>
                                    </div>
                                        <p id="content"><%= blog.content%></p>
                                  </div>
                            <%})  %>
                      <% }) %>
        </div>
    </div>
    
</body>
</html>