*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.head{
    min-height: 100vh;
    background:url(blog2.avif) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    padding: 50px;
    width: 500px;
    height: 500px;
    background: rgba(0,0,0,0.1);
    backdrop-filter:blur(10px);
    color: white;
    border-radius: 50px;
    box-shadow:0px 0px 16px 0px rgba(0,0,0,0.5);
    text-align:center;
}
input{
    border-radius: 5px;
    margin: 30px;
}
.links{
    display: flex;
    justify-content: space-between;
}
>>>>>>> 625e86097cebd2f7fdd4f95fca34865c5325e458
